




*.elc
.ICEauthority
.Xauthority
.anthy/
.bash_*
.cache/
.config/
.conkeror.mozdev.org/
.conkerorrc/bookmarks.js
.dbus/
.dmrc
.dropbox-dist
.dropbox/
.emacs.d/auto-save-list
.emacs.d/smex.save
.fontconfig/
.fonts/
.gconf/
.gem/
.gnome2/
.gnupg/
.gstreamer-0.10/
.ido.last
.kde/
.lesshst
.local
.mission-control/
.mozilla/
.mplayer/
.nv/
.pulse-cookie
.pulse/
.recentf
.rpmdb/
.rvm/
.slocdata/
.ssh/
.subversion/
.thumbnails/
.thunderbird/
.wine/
.xine/
.xinput.d/
.xsession-errors
.zlogin
.zshrc
/.CFUserTextEncoding
Downloads/
Dropbox/
Music/
backdropbox/
bin/SumatraPDF.exe
bin/sumatrapdfcache/
bin/sumatrapdfprefs.dat
bin/youtube-dl
